<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="/">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="/about/">About</a></li>
        
        <li class="nav-fables {% if page.url contains 'fables' %} nav-current{% endif %}" role="presentation"><a href="/tag/fables/">Fables</a></li>
        <li class="nav-linkedin" role="presentation">
            <a href="https://www.linkedin.com/in/jacobgonzalezg/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin" style="margin-right: 8px;"></i> LinkedIn
            </a>
        </li>
        <li class="nav-email" role="presentation">
            <a href="mailto:jacob.gonga@gmail.com">
                <i class="fas fa-envelope" style="margin-right: 8px;"></i> Email
            </a>
        </li>
    </ul>
    <a class="subscribe-button icon-feed" href="/feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
